[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[project]
	description = DirectFB gfxdriver for NXP3220
[access "refs/*"]
	owner = group user/SeongO Park (raypark714)
	owner = group user/Sungwoo Park (swpark)
	owner = group user/jung hyun kim (nxrohan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jung hyun kim (nxrohan)
	label-Verified = -1..+1 group user/jung hyun kim (nxrohan)
	push = group user/jung hyun kim (nxrohan)
	read = group user/jung hyun kim (nxrohan)
	rebase = group user/jung hyun kim (nxrohan)
	removeReviewer = group user/jung hyun kim (nxrohan)
	submit = group user/jung hyun kim (nxrohan)
[access "refs/heads/*"]
	create = group user/jung hyun kim (nxrohan)
	push = +force group user/jung hyun kim (nxrohan)
	pushMerge = group user/jung hyun kim (nxrohan)
	read = group user/jung hyun kim (nxrohan)
[access "refs/tags/*"]
	push = group user/jung hyun kim (nxrohan)
	push = +force group user/jung hyun kim (nxrohan)
[receive]
	requireChangeId = true
